
<div class="jumbotron center">
  <h1>Max & Charlie's PhotoPins!</h1>
</div>

<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <span style="font-family: helvetica; font-size: 22px;">
          <%= pin.description %>  
        </span>
        <br />
        <span style="color: #999999;">
          <%= pin.user.email if pin.user %>
        </span>
        <br />
        <% if pin.user == current_user %>
          <%= link_to edit_pin_path(pin) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div style="margin:auto; text-align: center;">
  <br />
  <br />
  <% if user_signed_in? %>
    <%= link_to 'New Pin', new_pin_path, class: "btn btn-primary" %>
  <% end %>
</div>

<br />
<br />







<!-- <div class="jumbotron center">
  <p id="notice"><%= notice %></p>

  <h1>Pins</h1>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Description</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pins.each do |pin| %>
        <tr>
            <td ><%= image_tag pin.image.url(:medium)%></td>
            <td ><%= pin.description %></td>
            <td ><%= pin.user.email if pin.user %></td>
            <td><%= link_to 'Show', pin, class: "btn btn-primary" %></td> <td width="5" ></td>

            <% if pin.user == current_user %>
              <td><%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-primary" %></td>  <td width="5" ></td>
              <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
            <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Pin', new_pin_path, class: "btn btn-primary" %>
  <% end %>
</div> -->
