<!DOCTYPE html>
<html>
  <head>
    <title>Photopins</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <%= yield %>

      <p style="color: #CECECE; font-size: 12px; line-height: 175%;">
        <%= link_to "ActiveCampaign", "http://www.activecampaign.com/features/?_r=SJM7E8TM" %>
        Increase the conversion rate of your marketing and sales processes by upgrading to an intelligent, automated platform. 
        <br />
        <%= link_to "Aweber", "http://www.aweber.com/easy-email.htm?id=466796" %>
        Looking for affordable and easy to use email marketing and autoresponder tools? Click here to start your free email marketing trial with AWeber 
        <br />
        <%= link_to "GetResponse", "http://www.getresponse.com/index/boonsoh" %>
        Email marketing from GetResponse. Send email newsletters, campaigns, online surveys and follow-up autoresponders. Simple, easy interface. FREE sign up. 
        <br />
        <%= link_to "Eleven2", "http://www.eleven2.com/3645.html" %>
        SUPERCHARGED WEB HOSTING! Eleven2 is a leading provider of shared hosting, reseller hosting, managed vps and enterprise servers. This is what I use and it's amazingly simple and intuitive. 
      </p>
    </div>
  </body>
</html>
